## For the items in dataset-1:

	**QUESTIONS #1**:
	a. How many institution did store the species? Show the list of institutions.
	b. And how many speciments are stored in each instituion? Show the list of institutions
	c. Which institution stores the highest number of the species? an
	d. How many species are in the database? Show the list of species and the number of speciment record.
	e. Make a new .txt file called new_database.txt and save all information above on the new file

	**QUESTION #2**:
	By using iPython: make a dictionary which contains "Species_name | Institution_storing | Country | Region"

	**QUESTION #3**:
	By using R studio, make a histogram of the species record in each institution.

#ANSWERS:
#QUESTION1:
#first, open the file CP_NK_bold.txt
#then, use UNIX shell to figure out the answer by following some functions:
    #1. cut -f 6 CP_NK_bold.txt | tail -n +2 | sort | uniq | wc -l (4 institutions)
    #2. cut -f 6 CP_NK_bold.txt | tail -n +2 | sort | uniq  >> to show the list
    #3. cut -f 6 CP_NK_bold.txt | tail -n +2 | sort | uniq -c >> to show the list
    #4. >> CSIRO, Australian National Fish Collection - 40 speciments
    #5. cut -f 21 CP_NK_bold.txt | tail -n +2 | sort | uniq | wc -l (7 species)
    #6. cut -f 21 CP_NK_bold.txt | tail -n +2 | sort | uniq -c >> to show the list
    #7. touch new_database.txt
    #8. end up the information on the new file

#QUESTION2:

In [3]:
neotrygon = open("/home/eeb177-student/Desktop/eeb-177/eeb-174-final-project/formatted_bold_data.csv")
neotrygon.readline()
neotrygon_dict = {}
for line in neotrygon:
    species = line.split(",")[20]
    institution = line.split(",")[5]
    country = line.split (",")[37]
    values = [institution, country]
    neotrygon_dict[species] = values
print(neotrygon_dict)

{'592538': ['"Mined from GenBank', ' '], 'Neotrygon picta': ['Biodiversity Institute of Ontario', 'Australia'], '202051': ['"Mined from GenBank', ' '], 'Neotrygon leylandi': ['Biodiversity Institute of Ontario', 'Australia'], '202049': ['"CSIRO', ' '], '343007': ['"Mined from GenBank', ' '], 'Neotrygon kuhlii': ['Central Institute of Fisheries Education', 'W.S."'], '179846': ['"CSIRO', ' '], '180402': ['"Mined from GenBank', ' '], '203275': ['"CSIRO', ' ']}

In [4]:
neotrygon = open("/home/eeb177-student/Desktop/eeb-177/eeb-174-final-project/CP_NK_bold.txt")
neotrygon.readline()
neotrygon_dict = {}
for line in neotrygon:
    species = line.split("\t")[20]
    institution = line.split("\t")[5]
    country = line.split ("\t")[37]
    values = [institution, country]
    neotrygon_dict[species] = values
print(neotrygon_dict)

{'Neotrygon picta': ['CSIRO, Australian National Fish Collection', 'Australia'], 'Neotrygon cf. annotata': ['CSIRO, Australian National Fish Collection', 'Indonesia'], 'Neotrygon trigonoides': ['Mined from GenBank, NCBI', 'New Caledonia'], 'Neotrygon leylandi': ['Mined from GenBank, NCBI', 'Australia'], 'Neotrygon ningalooensis': ['Mined from GenBank, NCBI', 'Australia'], 'Neotrygon kuhlii': ['Central Institute of Fisheries Education', 'India'], 'Neotrygon annotata': ['CSIRO, Australian National Fish Collection', 'Australia']}

In [6]:
neotrygon = open("/home/eeb177-student/Desktop/eeb-177/eeb-174-final-project/CP_NK_bold.txt")
neotrygon.readline()
neotrygon_dict = {}
for line in neotrygon:
    species = line.split("\t")[20]
    institution = line.split("\t")[5]
    country = line.split ("\t")[37]
    region = line.split ("\t")[39]
    values = [institution, country, region]
    neotrygon_dict[species] = values
print(neotrygon_dict)

{'Neotrygon picta': ['CSIRO, Australian National Fish Collection', 'Australia', 'Torres Strait'], 'Neotrygon cf. annotata': ['CSIRO, Australian National Fish Collection', 'Indonesia', 'Java'], 'Neotrygon trigonoides': ['Mined from GenBank, NCBI', 'New Caledonia', ' '], 'Neotrygon leylandi': ['Mined from GenBank, NCBI', 'Australia', ' '], 'Neotrygon ningalooensis': ['Mined from GenBank, NCBI', 'Australia', ' '], 'Neotrygon kuhlii': ['Central Institute of Fisheries Education', 'India', 'VISAKAPATNAM'], 'Neotrygon annotata': ['CSIRO, Australian National Fish Collection', 'Australia', 'Gulf of Carpentaria']}

## For items in dataset-2:

	**QUESTIONS**:
	a. How much is the percentage of AT_content in every single sequence?
	b. How much is the percentage of GC_content in every single sequence?
	c. How is the ratio of AT and GC content in every single sequence?
	d. Where is the species which has the highest AT_content from?
	e. Where is the species which has the highest AT_content from?

In [18]:
#open dataset-2
dataset2 = open("/home/eeb177-student/Desktop/eeb-177/eeb-174-final-project/CP_NK_bold_fasta.fas")
dataset2.readline()
for item in dna_sequence:
    total_length = len(dna_sequence)
    A_count = dna.upper().count('A')
    T_count = dna.upper().count('T')
    AT_content = (A_count + T_count) / total_length

NameError: name 'dna_sequence' is not defined

In [16]:
AT_count(dataset2)

NameError: name 'dna_sequence' is not defined

#1. dataset2 = open("/home/eeb177-student/Desktop/eeb-177/eeb-174-final-project/CP_NK_bold_fasta.fas")
    #2. define a function:
        #def AT_count(dna, sig_figs = 3):
            #total_length = len(dna)
            #A_count = dna.upper().count('A')
            #T_count = dna.upper().count('T')
            #AT_content = (A_count + T_count) / total_length
            #return round(AT_content, sig_figs)